{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel-API</title>
    <link rel="stylesheet" href="../../static/css/app.css">
</head>

<body>
    <h1>Hell0 fri3nd!</h1>
    <p>You've reached my hotel listing app. This is actually just a placeholder, and there are lots of cool endpoints
        for
        us to play with rather than seeing boring pages...</p>
    <p>So i'll be focusing on that for now, but hey, who knows? Maybe in the future this will be an actual beautiful
        landing
        page for you,
        thanks for stopping by tho!</p>

    <img src="/static/img/bonsoirelliot.gif" alt="bonsoirelliot">
</body>

</html>

{% endblock %}